video{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    max-width: 800px;
    align-items: center;
    border-radius: 10px;
}
    

.htmlproject{
    font-size: 30px;
    text-align: center;
    overflow: auto;

}.maincode{
    background-color: rgb(239, 233, 233);
    width: 90%;
    max-width: 800px;
    height: 600px;
    overflow: auto;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 20px;
}

.copycode{
    color: black;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    margin: 0 auto;
}